<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/quiz.css"></link>
<meta charset="ISO-8859-1">
<title>Quiz Templates</title>
</head>
<body>

	<div class="navbar">
		<div class="logo">
			<form>
				<input Name="IB1" type="Image" img
					src="/photos/Home/Worly-Logo-F.png" th:href="@{/api/home}"
					height="80" width="80" alt="Application Logo">
			</form>
		</div>

			<a class="btnnew" th:href="@{/api/details}">Change details</a> 
			<a class="btnnew" th:href="@{/api/home}">LogOut</a>
	</div>
	<br>	

	<div class = "quiz">
		<h1>Current Quizzes</h1>
		<form action="#" th:action="@{/api/quiztemplates}" method="post" th:object="${request}">
			<label>Select a Quiz Template to view:</label> 
			
			<table style="width:100%">
				<tr> <!--Top row - column names-->
        			<th scope="col">Quiz Name</th>
       				<th scope="col">ID</th>
    			</tr> <!--Quiz template row generator-->
				<tr th:each="quiztemplate : ${qtRowModelList}">	
					<td th:text = ${quiztemplate.quizName} />
					<td th:text = ${quiztemplate.quizTemplateID} />
					<td> <a th:text = ${quiztemplate.buttonText} th:href= ${quiztemplate.buttonValue} >
					<td th:text = ${quiztemplate.buttonValue} /> <!--can delete this row later on-->
				</tr>	
					<td> <input type="text" th:field="*{quizName}" placeholder="New Quiz Name" ></input>
					<td/>
					<td> <button type="submit">Add New Quiz</button>
					<td/>
			</table>
		
		</form>
		
	</div>
</body>
</html>